In [74]:
import pandas as pd
import numpy as np

In [75]:
model= pd.read_csv('dataset.csv')

In [76]:
model

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [77]:
model.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [78]:
model=model[['LotArea','BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath','BedroomAbvGr','SalePrice']]
model.head()

,LotArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,SalePrice
0,8450,1,0,2,1,3,208500
1,9600,0,1,2,0,3,181500
2,11250,1,0,2,1,3,223500
3,9550,1,0,1,0,3,140000
4,14260,1,0,2,1,4,250000

In [79]:
model.isnull

<bound method DataFrame.isnull of       LotArea  BsmtFullBath  BsmtHalfBath  FullBath  HalfBath  BedroomAbvGr  \
0        8450             1             0         2         1             3
1        9600             0             1         2         0             3
2       11250             1             0         2         1             3
3        9550             1             0         1         0             3
4       14260             1             0         2         1             4
...       ...           ...           ...       ...       ...           ...
1455     7917             0             0         2         1             3
1456    13175             1             0         2         0             3
1457     9042             0             0         2         0             4
1458     9717             1             0         1         0             2
1459     9937             1             0         1         1             3

      SalePrice
0        208500
1        181500
2        223500
3        140000
4        250000
...         ...
1455     175000
1456     210000
1457     266500
1458     142125
1459     147500

[1460 rows x 7 columns]>

In [80]:
model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   BsmtFullBath  1460 non-null   int64
 2   BsmtHalfBath  1460 non-null   int64
 3   FullBath      1460 non-null   int64
 4   HalfBath      1460 non-null   int64
 5   BedroomAbvGr  1460 non-null   int64
 6   SalePrice     1460 non-null   int64
dtypes: int64(7)
memory usage: 80.0 KB

In [81]:
dublicacy=model.duplicated().sum()
print(f"There is {dublicacy} dublicated values")

There is 3 dublicated values

In [84]:
model.describe()

,LotArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,0.425342,0.057534,1.565068,0.382877,2.866438,180921.195890
std,9981.264932,0.518911,0.238753,0.550916,0.502885,0.815778,79442.502883
min,1300.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34900.000000
25%,7553.500000,0.000000,0.000000,1.000000,0.000000,2.000000,129975.000000
50%,9478.500000,0.000000,0.000000,2.000000,0.000000,3.000000,163000.000000
75%,11601.500000,1.000000,0.000000,2.000000,1.000000,3.000000,214000.000000
max,215245.000000,3.000000,2.000000,3.000000,2.000000,8.000000,755000.000000

In [85]:
X= model[['LotArea','BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath','BedroomAbvGr']]
Y= model['SalePrice']

In [86]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=2529,test_size=0.3)
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((1022, 6), (438, 6), (1022,), (438,))

In [87]:
X

      LotArea  BsmtFullBath  BsmtHalfBath  FullBath  HalfBath  BedroomAbvGr
0        8450             1             0         2         1             3
1        9600             0             1         2         0             3
2       11250             1             0         2         1             3
3        9550             1             0         1         0             3
4       14260             1             0         2         1             4
...       ...           ...           ...       ...       ...           ...
1455     7917             0             0         2         1             3
1456    13175             1             0         2         0             3
1457     9042             0             0         2         0             4
1458     9717             1             0         1         0             2
1459     9937             1             0         1         1             3

[1460 rows x 6 columns]

In [88]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()

In [89]:
Y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [90]:
lr.fit(X_train,Y_train)

c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

LinearRegression()

In [91]:
lr.intercept_

32403.513835736638

In [92]:
lr.coef_

array([ 9.69206181e-01,  3.69692766e+04,  1.59556068e+04,  7.78052688e+04,
        3.50320096e+04, -5.34655753e+03])

In [93]:
y_pred=lr.predict(X_test)
y_pred

c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([215526.67999599, 146121.20826807, 143513.62740251, 138716.60977517,
       146952.37093099, 219846.25579509, 179886.56189991, 214718.73886019,
       173377.82962893, 138816.43801176, 189975.99823909, 105330.90467619,
       223729.86496042, 135194.27442267, 219760.17259249, 181836.0517689 ,
       146785.66746794, 179243.42523602, 233969.50992399, 185601.83402018,
       136469.02064255, 202146.165188  , 109692.33248851, 215509.23428475,
       100152.01981372, 220581.09022739, 182805.25794942, 188876.78170414,
       237124.48328756, 190097.04049406, 140336.15330281, 138505.49897528,
       143463.22868113, 224820.2219135 , 180850.36908331, 105330.90467619,
       139328.17887507, 176053.39165337, 180503.39327069, 102497.49877057,
       219210.45654067, 124586.65849713, 182839.18016573, 213391.89559906,
       188072.88155177, 180891.49198286, 172514.8600857 , 210937.07249128,
       136129.55838687, 105626.51256125, 122449.55886909, 181348.5410601 ,
       223066.92793295, 181004.47286602, 142820.82113091, 102631.24922348,
       247375.77705889, 139283.04242456, 177703.94977879, 110820.48848264,
        99984.34714449, 119506.09803246, 180348.32028181, 179519.09603125,
       131208.89860838, 142557.57386856, 145382.25691855, 107152.04308938,
       144703.81259219, 251349.93863897, 147642.44573152, 221712.94689877,
       109783.43786948, 180418.51936677, 192115.45251946, 105939.14991758,
       140442.76598267, 222624.00070845, 115249.34448763, 136175.94355729,
       177939.84292322, 218626.99442   , 183308.2759571 , 102630.2800173 ,
       187757.90153186, 213289.33589139, 254493.49052236, 185031.52454606,
       118393.98396984, 139765.46700995, 258926.63959204, 183538.94702807,
       282872.2115417 , 187087.21085494, 180951.16652609, 155802.06176656,
       174079.11866366, 107729.68997297, 216168.2944875 , 313064.39426463,
       224945.66575076, 143056.16208531, 105330.90467619, 221820.5287848 ,
       106493.95209281, 132117.04479953, 144444.06533581, 217106.48607024,
       140443.91133631, 217086.13274045, 153853.41347638, 262196.7412451 ,
       219251.16320025, 182751.95160949, 106142.68321549, 140442.76598267,
       254879.2345822 , 175377.85494555, 218485.66646511, 197234.36499138,
       219519.08034605, 177401.93349304, 102207.7061226 , 188677.12523095,
       138116.67114943, 253973.9960096 , 119089.87400745, 175869.24247907,
       154461.10575156, 178403.67644372, 178324.65797429, 149433.53875311,
       145764.54039364, 224482.93816268, 215413.83583909, 150037.23250372,
       185762.30600617, 177437.41807915, 254582.65749097, 197116.04364211,
       175620.15649068, 214818.60651801, 212987.35980304, 220651.11316489,
       223778.32526945, 143663.85436049, 226367.49121758, 252449.98765386,
       144617.13700215, 104361.69849567, 116961.37884239, 105040.14282203,
       253667.72685656, 146129.9311237 , 220277.72869289, 251882.44907205,
       221664.48658974, 108820.04692605,  98307.6204522 , 140692.82117724,
       145083.74141495, 220843.98519481, 180360.36699594, 139628.63279103,
       107773.30425109, 251509.26449515, 121693.57804829, 219897.62372266,
       103981.76967291, 101845.22301108, 216470.68681582, 226791.03431846,
       154915.78515008, 136526.37995467, 214259.51127809, 253136.60186963,
       297895.9407208 , 104258.54640057, 105662.37318993, 106300.11085671,
       101147.39456111, 228637.37209235, 100405.95183302, 139062.61638161,
       253707.46430996, 174311.72814698, 120595.90201933, 102891.96568604,
       246212.59291602, 245414.69613695, 260011.18130804, 173148.68073036,
       140601.71579627, 218868.32675895, 217845.99038597, 234758.32536228,
       183488.54830668, 213934.82720762, 223032.03651045, 181416.38549274,
       215380.32986274, 134744.97899488, 174462.46787377, 109353.11032533,
       247191.07491838, 102043.91027809, 108010.75976532, 177171.26242207,
       140398.35864583, 210128.75453673, 172704.74410228, 180599.34468256,
       104299.25306015, 173145.22014561, 145274.67503251, 215808.30275456,
       136440.53684457, 217486.23874553, 183145.44931878, 184061.76539933,
       215719.92884466, 182073.50728313, 178755.49828725, 144669.89037587,
       184969.91159048, 216092.69640542, 123523.99228332, 217386.17041644,
       141770.57844998, 183447.8416471 , 129786.10393538, 222940.93112948,
       143505.87375307, 217404.03236766, 146186.69804838, 178321.33411578,
       142614.75703321, 187258.34410892, 134321.9888602 , 214517.73636208,
       182092.89140674, 177623.4654684 , 136175.94355729, 172164.69636463,
       149053.60993035, 225807.84301145, 104749.38096788, 214454.73796034,
       180813.95548842, 182626.9240122 , 214916.49634224, 295026.6741865 ,
       216900.04515379, 222130.12179636, 117103.00133739, 181769.59278241,
       254792.00602596, 140665.68340419, 188908.8459029 , 184105.37967746,
       115939.95392077, 219009.83086131, 105258.21421265, 135807.64520869,
       213092.58703675,  99015.14096397, 140258.79295584, 140046.77689481,
       183460.44132744, 220833.50007429, 218960.4013461 , 258226.3197635 ,
       207241.073085  , 180744.22786721, 163246.85415023, 136179.40414204,
       105330.90467619, 110991.48501038, 180794.15512484, 215666.24568599,
       181802.12955258, 219253.10161262, 105258.21421265, 104749.38096788,
       100373.96802906, 182097.18447143, 218651.64081448, 103341.6773538 ,
       181424.13914218, 139682.90833714, 140195.7945541 , 295223.42304115,
       107734.53600387, 198941.13707527, 105233.98405814, 176625.63953984,
       215486.94254259, 103276.18757349, 149017.62760181, 175998.14690108,
       139782.9127212 , 100100.65188615, 120283.93602185, 217852.04571556,
       220230.06144258, 216310.76779603, 155645.73413025, 135194.27442267,
       351093.18935572, 234849.5491359 , 176441.03392817, 257242.1592503 ,
       251688.19159597, 246545.03063594, 218248.03480342, 220068.20401043,
       223903.11277423, 180394.84217847, 219171.86444092, 174912.6359789 ,
       253920.68966967, 218812.11280048, 211356.73876744, 223496.14954468,
       219280.23938567, 103653.76174393, 219241.47113845, 105912.4283845 ,
       104326.39083321, 103354.27703415, 107267.93159107, 164242.49642259,
       173536.32300517, 174418.7168694 , 140636.60721877, 218225.19009506,
       140981.40452653, 105447.20941785, 146435.78403677, 126458.22673024,
       221125.05498716, 219432.82099598, 176820.40978473, 141460.43247221,
       103445.38241512, 173843.60156179, 146129.9311237 , 216826.76230281,
       122774.24293956, 132816.81166186, 222104.68234316, 186079.65266717,
       228230.85846274, 140152.00412851, 108335.44383579, 249318.48248461,
       108259.84575371, 109628.3648806 , 118064.33547582, 150652.24716199,
       252739.22733562, 292469.9082823 , 145372.56485675, 107656.99950943,
       152303.35825362, 101360.61992082, 214186.82081455, 217913.41857864,
       131713.30206222, 168632.27645799, 247933.48685265, 138116.67114943,
       175242.16608028, 215793.21169564, 217051.24131795, 162736.59526191,
       100042.49951532, 111894.36893065, 138432.80851174, 213061.57243897,
       146690.68526225, 228508.6438178 , 140819.96333436, 214996.52421525,
       136803.57292229, 216473.04146815, 138770.88532128, 217436.98537779,
       182441.80563172, 214046.70215835, 138735.0246926 , 215281.05459235,
       157694.37756977, 170876.40500586, 254443.09180097, 182633.70845546,
       101984.78870108, 145088.58744585, 102427.71592557, 189290.67294062,
       221352.40219961, 148659.02131502, 137939.89880583, 144247.86944738,
       293703.53160263, 137142.37884551, 133304.32237066, 142552.72783765,
       175969.03051826, 262785.46563665, 130686.91271705, 186576.98017526,
       104171.31784432, 183840.37015021, 170264.32313714, 143707.88487859,
       250496.06799394, 214881.18867977, 219456.08194431, 109401.57063436,
       137145.70270402, 101015.58252056, 105314.98113733, 109708.25602737,
       180848.43067095, 181221.57505045, 146525.12715285, 214900.01983717,
       187906.64651484, 138961.81893884, 226351.01471251, 252872.00858235,
       293130.90689741,  88826.01311444, 145461.31558538, 167662.55750867,
       180212.63141653, 183737.63429507])

In [94]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(Y_test,y_pred)

c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

0.2202379141033917

In [95]:
model.head()

,LotArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,SalePrice
0,8450,1,0,2,1,3,208500
1,9600,0,1,2,0,3,181500
2,11250,1,0,2,1,3,223500
3,9550,1,0,1,0,3,140000
4,14260,1,0,2,1,4,250000

In [96]:
new_house= np.array([[11250,1,0,2,1,3]])
predicted_price= lr.predict(new_house)
print(f"The House Price is = ${predicted_price[0]:,.2f}.")
# lr.predict(new_house)

The House Price is = $254,879.23.

c:\Users\vinma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(